
$main-blue: #0d6efd;
$hover-blue: #024FBF;

body{
    background-color: #f7f9fb;
    font: {
        size: 14px;
    } 
}
.root{
    &:hover{
        background: transparent;
    }
}
.MuiFormControlLabel-label{
    user-select: none;
    font-size: 14px;
    &.MuiTypography-body1{
        font-size: 14px;
    }
}


